<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="WcPoManagementNew_2011Entities" connectionString="metadata=res://*/Po.csdl|res://*/Po.ssdl|res://*/Po.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.113;initial catalog=WcPoManagementNew_2011;persist security info=True;user id=sa;password=1QAZ2WSX;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WcAirexpFreight_2011Entities" connectionString="metadata=res://*/AirexpFreight.Wff_AxpPreline.csdl|res://*/AirexpFreight.Wff_AxpPreline.ssdl|res://*/AirexpFreight.Wff_AxpPreline.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.113;initial catalog=WcAirexpFreight_2011;user id=sa;password=1QAZ2WSX;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WcStore_2011Entities" connectionString="metadata=res://*/Store_2011.csdl|res://*/Store_2011.ssdl|res://*/Store_2011.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.113;initial catalog=WcStore_2011;persist security info=True;user id=sa;password=1QAZ2WSX;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WcPoManagementNew_2011Entities1" connectionString="metadata=res://*/Po_2011.csdl|res://*/Po_2011.ssdl|res://*/Po_2011.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.113;initial catalog=WcPoManagementNew_2011;persist security info=True;user id=sa;password=1QAZ2WSX;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>